.cards-container {
    border: 1px solid;
    width: 35%;
    height: auto;
    margin: 15rem auto;
    background-color: #fff;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, .5);
}

.div-text1 {
    width: auto;
    margin: 5% 10% 6% 20%;
    text-align: center;
}

.div-text2 {
    width: 15%;
    margin: 0% 0% 5% 80%;
    text-align: center;
}

.cards-container button {
    width: 53%;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 4px 2px 7px 0px rgba(0, 0, 0, .5);
}


.container {
	width: auto;
	display: flex;
	flex-wrap: wrap;
}